.katex-display>.katex>.katex-html>.base{
    margin-bottom: 20px;
}

.katex-display>.katex>.katex-html{
    white-space: normal;
}

@media only screen and (max-width: 600px) {

    .katex-display>.katex>.katex-html>.tag{
        position: relative !important;
        float: right;
    }
    .katex-display>.katex>.katex-html{
        transform: scale(0.8);
    }
  }



