.menuFill{
  display: inline-flex;
  flex-grow: 1;
  transition: 0.5s;
}

.menuContainer{
  display: inline-flex;
  transition: 0.5s;
}


.logoHide{
  display: inline-flex;
  overflow: hidden;
  width: 0px;
  max-width: 0px;
  opacity: 0;
  transition: 0.5s;
}

.logoContainer{
  display: inline-flex;
  overflow: hidden;
  max-width: 90vw;
  flex-grow: 1;
  transition: 0.5s;
}

.alignLogo{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.linkfix{
  height: 30px;
}


.searchFill{
  display: inline-flex;
  padding-right: 10px;
  flex-grow: 1;
  transition: 0.5s;
}

.searchContainer{
  display: inline-flex;
  margin-left: auto;
  padding-right: 10px;
  order: 2;
  transition: 0.5s;
}