.wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.spinner{
  width: 40px;
  animation: example 2s linear infinite;
  fill: var(--MainYellow)
}

@keyframes example {
  from {transform: rotate(0deg);}

  to {transform: rotate(360deg);}
}