.box{
  display: flex;
  background-color: #d3d3d3;
  height: 30px;
  border-radius: 5px;
}

.imageContainer{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 5px; 
}

.image{
  display: inline-flex;
  font-size: 20px;
  color: #494949
}

.input{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d3d3d3;
  border: none;
  border-radius: 5px;
}