.wrapper{
  display: flex;
  min-width: 270px;
}

.textContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  min-width: 170px;
}

.subtitle{
  color: grey;
}