html[scrollOff] {
  overflow-y: scroll;
  height: 100%;
  scrollbar-gutter: auto;
}

html[scrollOff] body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

html {
  background-color: var(--background);
  color: var(--text);
  scrollbar-gutter: stable;
}

.katex-display > .katex > .katex-html {
  white-space: normal;
}

.katex-display > .katex > .katex-html > .base {
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .katex-display > .katex > .katex-html >.tag {
      position: relative !important;
      float: right;
  }
  .katex-display > .katex > .katex-html {
      transform: scale(0.8);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
}

html[colorMode="dark"] {
  --redTest: #ff1111;
  --background: black;
  --text: white;
  --feintGrey: #333;
  --boldGrey: #aaa;
  --modalOverlay: #11111188;
}

html[colorMode="light"] {
  --redTest: #2dff11;
  --background: white;
  --text: black;
  --feintGrey: #ddd;
  --boldGrey: #888;
  --modalOverlay: #aaaaaa44;
}

:root {
  --Sora: "Sora", -apple-system, sans-serif;
  --Inter: "Inter", -apple-system, sans-serif;
  --Montserrat: "Montserrat", -apple-system, sans-serif;
  --Karla: "Karla", -apple-system, sans-serif;
  --primary: #ffca1e;
  --primary30: #ffca1e48;
  --primary10: #ffca1e0f;
  --midGrey: #888888;
  --iconColor: #ccd4e3;
  --twitter: #1da1f2;
  --linkedin: #0077b5;
  --github: #2f2f2f;
}
