.logo{
	margin: 0px 40px 0px 25px;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
}

.controls{
	display: flex;
	flex-grow: 1;
}

.search{
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	margin-left: auto;
	margin-right: 20px;
	order: 2;
}