.subHeading {
  color: #777;
  font-style: italic;
}

.IntroductionText{
  text-align: center;
  line-height: 30px;
  margin: 0px auto;
  color: #333;
}

.contentContainer p {
  margin-bottom: 20px;
  width: 100%;
  text-align: justify;
  display: inline-block;
}

.contentContainer h2 {
  display: block;
  text-align: center;
}

.contentContainer date {
  display: block;
  text-align: center;
  font-style: italic;
}

.contentContainer label {
  display: block;
  text-align: center;
}

.contentContainer hr {
  opacity: 50%;
  margin-bottom: 20px;
}

.contentContainer img {
  display: block;
  margin: 50px auto 10px;
  width: 100%;
  max-width: 500px;
}