@import '../../../css/colors.css';
@import '../../../css/spacing.css';

.App{
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 400px;
}

.content{
	flex: 1 0 auto;
	margin-top: var(--ySpaceHeader);
}
